/xtras/scripts/data-sample-00/input/
/xtras/scripts/data-sample-00/output/
/xtras/scripts/data-sample-00/splits/
/data/
/logs/
conf/spark-defaults.conf
src/main/scala/common/target/
project/project/
project/target/
target/
.idea
